<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Pan</title>
		<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body>


		<div class="container" style="padding-top: 60px;">
			<div class="row" style="margin-top: 20px;">
				<input type="hidden" id="domain" value="<%= domain %>">
				<input type="hidden" id="uptoken_url" value="<%= uptoken_url %>">

				<div class="col-md-12">
					<div id="container">
						<a class="btn btn-primary btn-lg btn-block" id="pickfiles" href="#" >
							<i class="glyphicon glyphicon-plus"></i>
							<span>选择文件</span>
						</a>
					</div>
				</div>
				<div style="display:none" id="success" class="col-md-12">
					<div class="alert-success">
						队列全部文件处理完毕
					</div>
				</div>
				<div class="col-md-12 ">
					<table class="table table-striped table-hover text-left"   style="margin-top:40px;display:none">
						<thead>
							<tr>
								<th class="col-md-4">Filename</th>
								<th class="col-md-2">Size</th>
								<th class="col-md-6">Detail</th>
							</tr>
						</thead>
						<tbody id="fsUploadProgress">
						</tbody>
					</table>
				</div>
			</div>
			<div class="column">
				<div id="content"></div>
			</div>
		</div>


		<script src="https://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://cdn.staticfile.org/plupload/2.1.9/plupload.full.min.js"></script>
		<script type="text/javascript" src="bower_components/plupload/js/i18n/zh_CN.js"></script>
		<script type="text/javascript" src="scripts/ui.js"></script>
		<script type="text/javascript" src="src/qiniu.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		<script src="http://onoef8glx.bkt.clouddn.com/template.js"></script>
		<script id="list_template" type="text/html">
			    {{each items as value i}}
				<h2><a href="<%= domain %>/{{value.key}}">{{value.key}}</a></h2>
			    {{/each}}
		</script>
		<script>

			$(document).ready(function(){
				$.getJSON("/list",function(result){
					var html = template('list_template', result);
					document.getElementById('content').innerHTML = html;
				})
			})
		</script>
	</body>
</html>
